<!DOCTYPE html>
<html lang="en">

<head>
	<title>ChangePassword | NoteBook Application</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="../../../login/images/icons/favicon.ico" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../../login/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../../login/font-awesome-4.7/css/font-awesome.min.css">

	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../../login/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../../login/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../../login/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../../login/css/util.css">
	<link rel="stylesheet" type="text/css" href="../../../login/css/main.css">

	<!--===============================================================================================-->
	<link rel="stylesheet" href="../../css/toastr.css">
	<link rel="stylesheet" href="../../css/toastr.min.css">
</head>

<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="../../images/img-01.png" alt="IMG">
				</div>

				<form action="/users/changePassword" method="POST" class="login100-form validate-form">
					<span class="login100-form-title" style="font-family:Segoe UI; font-weight:bolder;">
						Change Password
					</span>


					<div class="wrap-input100 validate-input">
						<input class="input100" type="password" name='NewPassword' placeholder=" New Password" required>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input">
						<input class="input100" type="password" name='ConfirmPassword' placeholder="Confirm Password"
							required>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn" type="submit">
							Submit
						</button>
					</div>



					<div class="text-center p-t-136">
						<a class="txt2" href="/" style="font-size: 15px">
							Back to Login
							<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>




	<!--===============================================================================================-->
	<script src="../../../login/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="../../../login/vendor/bootstrap/js/popper.js"></script>
	<script src="../../../login/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="../../../login/vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="../../../login/vendor/tilt/tilt.jquery.min.js"></script>
	<script>
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
	<!--===============================================================================================-->
	<script src="../../../login/js/main.js"></script>

	<script src="../../../js/toastr.js"></script>
	<script src="../../../js/toastr.min.js"></script>

	<script>
		//code for validating user input
		function lettersOnly(input) {
			var regex = /[^a-z]/gi;
			input.value = input.value.replace(regex, " ");
		}
		function numbersOnly(input) {
			var regex = /[^0-9]/g;
			input.value = input.value.replace(regex, " ");
		}

		function charactersOnly(input) {
			var regex = /[^a-z @. 0-9]/gi;
			input.value = input.value.replace(regex, " ");
		}
	</script>
	<script>
		toastr.options = {
			"closeButton": false,
			"debug": false,
			"newestOnTop": true,
			"progressBar": true,
			"positionClass": "toast-top-right",
			"preventDuplicates": false,
			"onclick": null,
			"showDuration": "300",
			"hideDuration": "1000",
			"timeOut": "5000",
			"extendedTimeOut": "1000",
			"showEasing": "swing",
			"hideEasing": "linear",
			"showMethod": "fadeIn",
			"hideMethod": "fadeOut"
		}

	</script>
	<% if(error_msg !='' ){ %>

		<script>
			swal.fire(`<%= error_msg %>`)
		</script>

		<% } else if(success_msg !='' ) { %>

			<script>
				swal.fire(`<%= success_msg %>`)
			</script>
			<% } else if(error !='' ) { %>

				<script>
					swal.fire(`<%= error %>`)
				</script>

				<% } %>



</body>

</html>