<%- include("./html-files/head.ejs") %>
<body>
	

    <%- include("./html-files/nav.ejs") %>

        <div id="content">
          <div class="scroll">
            <div class="scrollContainer">
               
            <form action="/users/change-password/<%= user._id %>" method="POST">
                    <h2><center>Change Password</center></h2><br>
                  <center>
                    <label for="Name">Old Password:</label><br>
                  <input type='password'  name='oldPassword'  required><br><br>
              
                  <label for="Username">New Password:</label><br>
                  <input type='password'  name='newPassword' required ><br><br>

                  <label for="Email">Confirm New Password:</label><br>
                  <input type='password' name='confirmpassword' required><br><br>
                
                  

                 

                  <input type='submit' value='Update'></center>
                </form>
              </div>

        </div><!-- end of scroll -->
		</div>
    </div> <!-- end of content -->
</div>


<%- include("./html-files/footer.ejs") %>
</body>
</html>
            

    <style>
      .error_msg{
          color: #a94442;
          background-color: #f2dede;
          border-color: #ebccd1;
          text-align: center;
          
      }
  
      .success_msg{
          color: #3c763d;
          background-color: #ddf0d8;
          border-color: #d6e9c6;
          text-align: center;
      }
      </style>

